<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @breakdown_status.name %>
</p>


<%= link_to 'Edit', edit_breakdown_status_path(@breakdown_status) %> |
<%= link_to 'Back', breakdown_statuses_path %>
