<p id="notice"><%= notice %></p>

<p>
  <b>Local number:</b>
  <%= @vehicle_unit.local_number %>
</p>


<%= link_to 'Edit', edit_vehicle_unit_path(@vehicle_unit) %> |
<%= link_to 'Back', vehicle_units_path %>
