.hidden { display:none;}
h1 { font-size: 18px; font-weight: bold;}
 a.selected { background-color: rgb(150,150,150); color: white;}
div#minor-navigator { margin-bottom: 20px; margin-top:5px;}
div#minor-navigator ul.navigator-ul { }
div#minor-navigator ul.navigator-ul  li { float:left; list-style:none; margin-right: 10px;}


input.warning { background-color: red; color: white;}
table#mca tr td { text-align:center;}
table#mca td.real-availability { width: 50px; cursor: pointer; }
table#mca td.target-availability{ cursor:pointer;}
table#mca tr.header-company {background-color: rgb(240,240,240); text-align:left;}
table#mca tr.header-company td { text-align:left; cursor: pointer;}
table#mca td.category-name { width : 150px;}
table#mca td.onHover { background-color: rgb(230,230,230);}
table#mca td.green-cell{ background-color: green;  color: black;}
table#mca td.yellow-cell{ background-color: yellow;  color: black;}
table#mca td.red-cell{ background-color: red;  color: white;}
table#mca td.black-cell{ background-color: black;  color: white;}

table#mca td a { text-decoration : none;}

div.plotted-graph { margin-bottom: 30px;}